.sidebar {
    flex: 3;
    height: fit-content;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 .SiderbarItem  {
      display: flex;
    flex-direction: column;
    align-items: center;
  }
  .siderbarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
  }
  
  .SiderbarItem img {
    margin-top: 15px;
    width: 250px;
    height: 250px;
    display: flex;
  }
  
  .SiderbarItem > p {
    padding: 30px;
  }
  
  .siderbarList {
    list-style-type: none;
    margin-bottom: 30px;
  }
  
  .siderbarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .siderbarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
  }
  